[Unit]
Description=Start PlantStation BLE Server
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=simple
User=root
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/plantstation_ble &

[Install]
WantedBy=multi-user.target
WantedBy=bluetooth.target
